.message {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    margin: 20px;
}

.postMessageTest {
    margin: 20px;
    padding: 20px;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
        margin: 0.5em;
    }
}
